.page{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    height: 100vh;
}
.title{
    font-size: 150pt;
    font-family:cursive;
    /* change font to be bubble letters */
}
.btn{
    background-color: #3f7221;
    border: black;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    height:60px;
    cursor:pointer;
    font-family:'Comfortaa', cursive;
    margin-bottom:40px;
    border-radius:40px;
}
.btn:hover{
    background-color: gray;
}
.end_turn_button{
    background-color:burlywood;
    cursor:pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    border-radius:10px;
    position:absolute;
    bottom:5%;
    left:5%;
}
/* .Hands{
    position:fixed;
    
} */
.table{
    position:absolute;
    background-color:aqua;
    height:100%;
    width: 100%;
}